<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.liuhao.orange">
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--百度地图-->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--百度地图-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" /-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--优酷-->
    <application
        android:name=".OrgApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme"
        >
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.WebActivity">
        </activity>
        <activity
            android:name=".activity.SearchWeatherActivity"
            android:theme="@style/SearchWeatherTheme"
            >
        </activity>
        <!--百度地图-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2">
                </action>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="pgvhyYlaugextWtRAjUrVoh2ffL1O19q"/>
        <!--百度地图 end-->
        <!-- 播放界面demo -->
        <activity
            android:name=".activity.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            >
        </activity>
        <!-- 已经缓存的视频界面demo -->
        <activity
            android:name=".activity.CachedActivity"
            />
        <activity android:name=".activity.CachingActivity"/>
        <!-- 以下两个为下载时需要的添加的Service -->
        <service
            android:name="com.youku.service.download.DownloadService"
            android:label="Youku Download Service"
            android:process=":download">
            <intent-filter android:priority="1000">
                <action android:name="com.youku.service.download.DownloadService"/>

                <category android:name="com.youku.service.download.DownloadService"/>
            </intent-filter>
        </service>
        <service
            android:name="com.youku.service.acc.AcceleraterService"
            android:process=":accelerater">
            <intent-filter android:priority="1000">
                <action android:name="com.youku.service.acc.AcceleraterService"/>

                <category android:name="com.youku.service.acc.AcceleraterService"/>
            </intent-filter>
        </service>
        <!-- client_id及client_secret配置  这里需要切换为自己的id和secret -->
        <meta-data
            android:name="client_id"
            android:value="9304521996778fe7"/>
        <meta-data
            android:name="client_secret"
            android:value="2d2ffaaa12642a4c6774e3af0401b2c8"/>
    </application>

</manifest>